 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "index.css">
</head>
<body>
    <h2><div>게시판 리스트입니다</div></h2>
    <div class = "board">
        <table>
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>날짜</td>
                <td>조회수</td>
            </tr>
            {% for item in list %}
            <tr>
            <td>{{item.idx}}</td>
            <td><a href = "/view?id={{item.idx}}">{{item.subject}}</a></td>
            <td>{{item.board_name}}</td>
            <td>{{item.today}}</td>
            <td>{{item.hit}}</td>                
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href = "/write" class = "write_btn">글쓰기</a>
</body>
</html>